<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sa=""
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title th:if="${form.mode.code eq T(com.github.hatimiti.dosm.ad.master.Mode).Register.code}">社員登録確認画面</title>
	<title th:if="${form.mode.code eq T(com.github.hatimiti.dosm.ad.master.Mode).Update.code}"  >社員更新確認画面</title>
	<title th:if="${form.mode.code eq T(com.github.hatimiti.dosm.ad.master.Mode).Delete.code}"  >社員削除確認画面</title>
</head>
<body>
<div layout:fragment="contents">
	<h3>基本情報</h3>
	<form th:action="." method="post" th:object="${form}">
	<span th:if="*{mode.code ne T(com.github.hatimiti.dosm.ad.master.Mode).Register.code}">
		社員ID:<span th:text="*{cmShainId}">100</span><br />
	</span>

	会社:<span th:text="*{#d.cmKaisha(cmKaishaId).kaishaMei}">サンプル会社名</span><br />
	社員名:<span th:text="*{shainSei}">サンプル会社名</span>
			<span th:text="*{shainMei}">サンプル会社名</span><br />
	社員名(英):<span th:text="*{shainMeiEn}">Ichiro</span>
			<span th:text="*{shainSeiEn}">Tanaka</span><br />

	ログインCD:<span th:text="*{loginCd}">abc123</span><br />
	パスワード:******<br />

	<input type="submit" name="backToPrepare" value="戻る" />
	<span th:switch="*{mode.code}">
		<input type="submit" name="register" value="登録する" th:case="${T(com.github.hatimiti.dosm.ad.master.Mode).Register.code}" />
		<input type="submit" name="update" value="更新する" th:case="${T(com.github.hatimiti.dosm.ad.master.Mode).Update.code}" />
		<input type="submit" name="delete" value="削除する" th:case="${T(com.github.hatimiti.dosm.ad.master.Mode).Delete.code}" />
	</span>
	</form>
</div>
</body>
</html>