<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title th:if="${form.mode.code eq T(com.github.hatimiti.dosm.ad.master.Mode).Register.code}">社員登録画面</title>
	<title th:if="${form.mode.code eq T(com.github.hatimiti.dosm.ad.master.Mode).Update.code}"  >社員更新画面</title>
	<title th:if="${form.mode.code eq T(com.github.hatimiti.dosm.ad.master.Mode).Delete.code}"  >社員削除画面</title>
</head>
<body>
<span th:text="|form.hashCode()=${form.hashCode()}|">aaaa</span>
<div layout:fragment="contents">
	<h3>基本情報</h3>
	<form action="." th:action="." th:object="${form}" method="post">

	<span th:if="*{mode.code ne T(com.github.hatimiti.dosm.ad.master.Mode).Register.code}">
		社員ID:<span th:text="*{cmShainId}">100</span><br />
	</span>

	会社:
		<select th:field="*{cmKaishaId}" >
			<option value="">----</option>
			<option value="1" th:each="k : ${#d.cmKaishaList()}" th:text="${k.kaishaMei}" th:value="${k.cmKaishaId}">ここに会社名</option>
			<!--/*/ <th:block th:remove="all"> /*/-->
			<option value="2">bbb</option>
			<option value="3">ccc</option>
			<!--/*/ </th:block> /*/-->
		</select>
	<br />

	社員名(姓):<input type="text" value="田中" th:field="*{shainSei}" /><br />
		<div class="ErrorsProperty" th:if="${#fields.hasErrors('shainSei')}" th:errors="*{shainSei}">xxx</div>
	社員名(名):<input type="text" value="一郎" th:field="*{shainMei}" /><br />
		<div class="ErrorsProperty" th:if="${#fields.hasErrors('shainMei')}" th:errors="*{shainMei}">xxx</div>
	社員名(姓)(英):<input type="text" value="Tanaka" th:field="*{shainSeiEn}" /><br />
		<div class="ErrorsProperty" th:if="${#fields.hasErrors('shainSeiEn')}" th:errors="*{shainSeiEn}">xxx</div>
	社員名(名)(英):<input type="text" value="Ichiro" th:field="*{shainMeiEn}" /><br />
		<div class="ErrorsProperty" th:if="${#fields.hasErrors('shainMeiEn')}" th:errors="*{shainMeiEn}">xxx</div>

	ログインCD:<input type="text" value="aa123" th:field="*{loginCd}" /><br />
		<div class="ErrorsProperty" th:if="${#fields.hasErrors('loginCd')}" th:errors="*{loginCd}">xxx</div>
	パスワード:<input type="password" value="aaa" th:field="*{password}" /><br />
		<div class="ErrorsProperty" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">xxx</div>

	<input type="submit" name="backToList" value="戻る" />
	<span th:switch="*{mode.code}">
		<input type="submit" name="confirmRegister" value="次へ" th:case="${T(com.github.hatimiti.dosm.ad.master.Mode).Register.code}" />
		<input type="submit" name="confirmUpdate"   value="次へ" th:case="${T(com.github.hatimiti.dosm.ad.master.Mode).Update.code}" />
	</span>
	</form>

</div>
</body>
</html>