<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title>社員一覧画面</title>
</head>
<body>
<div layout:fragment="contents">
	<form action="./search" th:object="${form}" method="get">
		社員ID：<input type="text" th:field="*{cmShainId}" />(完全一致)<br />
				<div class="ErrorsProperty" th:if="${#fields.hasErrors('cmShainId')}" th:errors="*{cmShainId}">xxx</div>
		会社：
				<select th:field="*{cmKaishaId}">
					<option value="">----</option>
					<option value="1" th:each="k : ${#d.cmKaishaList()}" th:value="${k.cmKaishaId}" th:text="${k.kaishaMei}">ここに会社名</option>
					<!--/*/ <th:block th:remove="all"> /*/-->
					<option value="2">bbb</option>
					<option value="3">ccc</option>
					<!--/*/ </th:block> /*/-->
				</select><br />
				<div class="ErrorsProperty" th:if="${#fields.hasErrors('cmKaishaId')}" th:errors="*{cmKaishaId}">xxx</div>
		社員名：<input type="text" th:field="*{shainMei}" />(前方一致)<br />
				<div class="ErrorsProperty" th:if="${#fields.hasErrors('shainMei')}" th:errors="*{shainMei}">xxx</div>
		<input type="submit" name="search" value="検索" />
		<input type="submit" name="download" value="CSVダウンロード" />
		<label><input type="radio" th:field="*{compresses}" value="0" />text</label>
		<label><input type="radio" th:field="*{compresses}" value="1" />zip</label>
				<div class="ErrorsProperty" th:if="${#fields.hasErrors('compresses')}" th:errors="*{compresses}">xxx</div>
	</form>
	<form action="." th:action="." method="post">
		<input type="submit" name="prepareRegister" value="登録" />
	</form>
	<div th:if="${not #lists.isEmpty(form.shainList)}">
	<div th:include="/common/fragment/fragments.html :: pageLink(${form.shainList}, 'search', ${false})">ページング</div>
	<table summary="社員一覧" class="Result" th:object="${form}">
		<thead>
			<tr>
				<th abbr="snm" class="ResultItem_Company">
					社員ID
					<span th:switch="*{pageable.sort.getOrderFor('id')?.direction}">
                        <a href="./search" th:href="|@{./search?sort=id,ASC}*{shainList.searchConditions}|" th:case="${T(org.springframework.data.domain.Sort.Direction).DESC}">▼</a>
                        <a href="./search" th:href="|@{./search?sort=id,DESC}*{shainList.searchConditions}|" th:case="*">▲</a>
					</span>
				</th>
				<th abbr="snm" class="ResultItem_Company">
					会社
					<span th:switch="*{pageable.sort.getOrderFor('km')?.direction}">
                        <a href="./search" th:href="|@{./search?sort=km,ASC}*{shainList.searchConditions}|" th:case="${T(org.springframework.data.domain.Sort.Direction).DESC}">▼</a>
                        <a href="./search" th:href="|@{./search?sort=km,DESC}*{shainList.searchConditions}|" th:case="*">▲</a>
					</span>
				</th>
				<th abbr="snm" class="ResultItem_Company">
					社員名
					<span th:switch="*{pageable.sort.getOrderFor('sm')?.direction}">
                        <a href="./search" th:href="|@{./search?sort=sm,ASC}*{shainList.searchConditions}|" th:case="${T(org.springframework.data.domain.Sort.Direction).DESC}">▼</a>
                        <a href="./search" th:href="|@{./search?sort=sm,DESC}*{shainList.searchConditions}|" th:case="*">▲</a>
					</span>
				</th>
				<th abbr="snm" class="ResultItem_Company">
					社員名(英)
					<span th:switch="*{pageable.sort.getOrderFor('sme')?.direction}">
                        <a href="./search" th:href="|@{./search?sort=sme,ASC}*{shainList.searchConditions}|" th:case="${T(org.springframework.data.domain.Sort.Direction).DESC}">▼</a>
                        <a href="./search" th:href="|@{./search?sort=sme,DESC}*{shainList.searchConditions}|" th:case="*">▲</a>
					</span>
				</th>
				<th abbr="change" class="ResultItem_Button">変更</th>
				<th abbr="delete" class="ResultItem_Button">削除</th>
			</tr>
		</thead>
		<tbody th:each="cmShain : ${form.shainList}">
			<tr>
				<td class="ResultItem_Company" th:text="${cmShain.cmShainId}">1</td>
				<td class="ResultItem_Company" th:text="${cmShain.cmKaisha.kaishaMei}">12</td>
				<td class="ResultItem_Company" th:text="${cmShain.shainMei}">太郎</td>
				<td class="ResultItem_Company" th:text="${cmShain.shainMeiEn}">Co, Ex</td>
				<td class="ResultItem_Button">
					<form action="." th:action="." method="post">
						<input type="hidden" name="cmShainId" th:value="${cmShain.cmShainId}" />
						<input type="submit" name="prepareUpdate" value="変更" class="ResultButton" />
					</form>
				</td>
				<td class="ResultItem_Button">
					<form action="." th:action="." method="post">
						<input type="hidden" name="cmShainId" th:value="${cmShain.cmShainId}" />
						<input type="submit" name="confirmDelete" value="削除" class="ResultButton" />
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<div th:include="/common/fragment/fragments.html :: pageLink(${form.shainList}, 'search', ${false})">ページング</div>
	</div>
	<hr />
	<!--<form action="." enctype="multipart/form-data" method="post">-->
		<!--<input type="file" name="uploadedCsvFile" /><br />-->
		<!--<div class="ErrorsProperty" >-->
			<!--<span th:each="e : ${#sa.messagesOfPrefix('uploadedCsvFile')}"><span  th:text="${e}">xxx</span><br /></span>-->
		<!--</div>-->
		<!--<input type="submit" name="upload" value="CSVアップロード" />-->
	<!--</form>-->
</div>
</body>
</html>